#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.header {
  width: 100%;
  height: 60px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
}

.issue-card {
  border-radius: 15px;
  border: 1px solid #dcdcdc;
  background-color: #f5f5f5;
  width: 650px;
  min-height: 100px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
  justify-content: space-around;

  p {
    margin: 16px 32px;
    padding: 8px;
    text-align: justify;
    text-justify: inter-word;
  }
}

.issue-card__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;

  h3 {
    padding: 8px;
    margin-left: 16px;
    width: 80%;
  }

  p {
    font-size: 12px;
    color: rgb(28, 30, 33);
    font-weight: bold;
    margin-left: 16px;
    margin-right: 0;
  }
}

.issue-card__state-tag {
  width: 100px;
  height: 25px;
  color: #f5f5f5;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;
}

.issue-card__body {
  p {
    font-size: 14pxn;
  }
}

.issue-card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.issue-participant {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: none;
  align-items: center;
  padding: 16px 0;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  p {
    font-size: 10px;
    margin: 0;
  }
}

code {
  padding: 2px 3px 1px;
  border: 1px solid var(--saf-0);
  border-radius: 3px;
  background-color: rgba(29, 28, 29, 0);
  color: #e01e5a;
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  font-family: Monaco, Menlo, Consolas, Courier New, monospace !important;
  font-size: 12px;
  line-height: 1.50001;
  font-variant-ligatures: none;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

.header {
  height: 60px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 16px;
  background-color: #20232a;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-items {
  display: flex;
  align-items: center;
}

.header-items__headline {
  display: flex;
  align-items: center;
  position: absolute;
  left: 16px;

  h1 {
    color: #fff;
    font-size: 18px;
    margin: 0;
  }

  img {
    width: 48px;
  }
}

.header-items__filter {
  margin-right: 16px;

  select {
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 80px;
    height: 20px;
  }
}
